<hr>
<footer>
	<small><span class="embedded" title="#<%= @snapshot.object_id %>">Snapshot</span> at Stardate <%= Space::Universe.stardate @snapshot.step %>. The simulation is currently <%= simstate %>.</small>
</footer>