<h1>Ships</h1>

<ul class="ships">
<% $runner.players.each do |player| %>
	<% player.ships.each do | ship | %>
	<li>
		<a class="btn" href="/ship/<%= ship.identifier %>">
			<i class="icon-rocket"></i> <%= ship.to_s %>
		</a>
	</li>
	<% end %>
<% end %>
</ul>

<%= erb :footer %>